apiVersion: v1  
kind: ConfigMap
metadata:                                                                                                                                                                                                            
  name: {{ include "postgres.fullname" . }}-init-scripts
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:    
  init.sh: |-
    psql --username $POSTGRES_USER -c "CREATE USER $POSTGRES_APP_USER WITH PASSWORD '$POSTGRES_APP_PASSWORD'"
    psql --username $POSTGRES_USER -c "CREATE DATABASE $POSTGRES_APP_DB"
    psql --username $POSTGRES_USER -c "ALTER DATABASE $POSTGRES_APP_DB OWNER TO $POSTGRES_APP_USER"
